{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Users Added with this information</span></h1>
                <p>this message is returned form controller -> {{ return }}</p>
            </div>
            
        </div>
    </div>
{% endblock %}
