{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Your magic number is:</span> {{ randomNumber }}</h1>
                <strong>current datetime:</strong> {{ 'now'|stampaOra }}
            </div>
            
        </div>
    </div>
{% endblock %}
